**/__pycache__/
**/*.egg-info/
.deploy/
.deploy-check-mounts/
.idea/
.venv/
.vscode/
ink.egg-info/
.__ink.lock

app.log
build
dist
env.sh
ink.log*

src/misc/config.ini
src/misc/config.yml
src/misc/openapi_schema.json

*.vim
**/.DS_Store
**/.pytest_cache/
src/fastink/misc/openapi_schema.json
